<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <div class="header">
            <a href="">
                <div class="subject">
                    <h1>You Don't Know SA<br>(Sorting Algorithm)</h1>
                    <span>Made By Beautifulife</span>
                </div>
            </a>
        </div>
        <div class="main">
            <div class="select">
                <div class="explain">
                    <p>1. Add your numbers (minimum 5 ~ maximum 10)</p>
                    <p>2. Choose your argorithm (from 4 suggested)</p>
                    <p>3. To visualize, press the "Let's get it!"</p>
                </div>
                <div class="input_box">
                    <input type="text" id="number_input" placeholder="type your number">
                </div>
                <div class="selected_number"></div>
                <div class="select_argorithm">
                    <button class="argorithm">Bubble Sort</button>
                    <button class="argorithm">Insertion Sort</button>
                    <button class="argorithm">Merge Sort</button>
                    <button class="argorithm">Selection Sort</button>
                </div>
                <div class="start_sorting">
                    <button id="start_sorting">Let's get it</button>
                    <button id="refresh_sorting">refresh my sort!</button>
                </div>
            </div>
            <div class="play_frame" id="frame">
            </div>
        </div>
    </div>
</body>
</html>
